# ignoring node_modules just in case
node_modules/**/*

.idea
.gradle/
gradlew
gradlew.bat
gradle/
android/
ios/

*.properties
*.iml

assets/

.tags*

.git*
.babelrc
.buckconfig
.flowconfig
App.js
app.json
index.js
.watchmanconfig
yarn.lock
